---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/layout/ContactForm.astro";
import FAQ from "../components/layout/FAQ.astro";
import Card from "../components/ui/Card.astro";
import Hero from "../components/layout/Hero.astro";
import TrustBanner from "../components/layout/TrustBanner.astro";
import CTA from "../components/layout/CTASection.astro";
import Reviews from "../components/layout/Reviews.astro";
---

<BaseLayout>
    <main>
        <Hero />
        <TrustBanner />
        <Reviews />
        <FAQ />
        <CTA />
    </main>
</BaseLayout>
