---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/layout/ContactForm.astro";
import FAQ from "../components/layout/FAQ.astro";
---

<BaseLayout>
    <main>
        <!-- Contact Form Section -->
        <section class="py-16 px-6 md:px-12 lg:px-20 bg-white">
            <ContactForm />
        </section>
    </main>

    <!-- FAQ Section -->
    <FAQ />
</BaseLayout>
