---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/layout/ContactForm.astro";
import FAQ from "../components/layout/FAQ.astro";
import Card from "../components/ui/Card.astro";
import Hero from "../components/layout/Hero.astro";
---

<BaseLayout>
    <main>
        <Hero />
        <!-- Contact Form Section -->
        <section class="py-16 px-6 md:px-12 lg:px-20 bg-white">
            <ContactForm />
        </section>
        <!-- FAQ Section -->
        <FAQ />
        <section class="flex my-10 mx-10">
            <Card title="This is a sample Card" , img="" />
        </section>
    </main>
</BaseLayout>
