---
import Navbar from "../components/shared/Navbar.astro"
import Footer from "../components/shared/Footer.astro"
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		<title>Web Dev Final</title>
	</head>
	<body class="min-h-screen flex flex-col">
        <Navbar />
        <main class="flex-1">
            <slot />
        </main>
        <Footer />
	</body>
</html>